body {
  background-color: #333;
  color: white;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  align-content:center;

}
header{
  color: black;
}
p {
letter-spacing: 0px;
font-size: 17px;
}
header{
  z-index: 1;
}
.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  z-index: 1;
  min-height: fit-content;
}
/* body */
/* .demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url(../images/characters/ryu.gif) center / cover;
} */
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-wei
}
#head{
  background-color: black;
}
#allcharacters{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mdl-grid{
  width: 30%;
  min-height: auto

}
.textBoxes{
  display: flex;
  flex-direction: column;
  padding: 3.125%;
  min-height: fit-content;
  width: 75%;
  text-align: center;
  margin: 0;

}
.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs{
  z-index: 1;
}


.mdl-mini-footer{
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: space-around;
  font-size: 18px;
}
.fb-share-button{
}
