header{
  color: black;
}
body
.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url(../images/characters/ryu.gif) center / cover;
}
.demo-card-image2.mdl-card {
  width: 256px;
  height: 256px;
  background: url(../images/characters/lucas.gif) center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-wei
}
#head{
  background-color: black;
}
