
/* html {
  background:  url(/images/smashbrosstart.gif) no-repeat center center fixed;
  background-size: cover;
} */
/* body {

    background-image:url('../images/smashbrosstart.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
    /* display: flex;
} */
i{
  color:white
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.start{
  position: relative;
  margin-top: 12.5%;
  margin-bottom: auto;
  top: 50%;
  left: 25%;
  height:auto;
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  background-color:rgba(0,0,0, .75);
  padding: 20px;
  border-color: rgba(0,0,0, .7);
  overflow: auto;

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.starttext{
  color:white;
}
#welcome{
  text-align: center;
}

#prefbutt{
  order: 1;
}

#menu{
  background-color: black;
}
div.mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
  background-color: black;
}

/* div.mdl-layout__drawer{
  background-color: black;
} */
