
/* html {
  background:  url(/images/smashbrosstart.gif) no-repeat center center fixed;
  background-size: cover;
} */
body {
    background-image:url('../images/smashbrosstart.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
div{
  border-radius: 25%;
  
}

h1#welcome{
  background-color: rgba(255,255,255, .5);
}
a:link{
  color: red;

}
