body{
  background-color: #333;
  min-height: fit-content;
}
p{
  font-size: 20px;
}
.mdl-layout{
  min-height: fit-content;
}
.characters{
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(0,0,0, .75);
  min-height:fit-content;
  width: 50%;
  margin-top: 6.25%;
  margin-bottom: 6.25%;
  margin-left: 25%;
  margin-right: 25%
}
.mdl-mini-footer{
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: space-around;
  font-size: 18px;
}
.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  min-height: fit-content;
}
