body {
    background-image:url('images/smashbrosstart.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

.mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect starttext {
  align: center;
}
