body {
  background-color: #333;
  color: black;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  align-content:center;

}
#prefs{
  display: flex;
  flex-direction: row;
  background-color: black;
  min-height:fit-content;
  width:100%;
  wrap: wrap;

}
.myPrefs{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0,0,0, .75);
  min-height:fit-content;
  width: 30%;
  margin-top: 3.125%;
  margin-bottom: 3.125%;
  margin-right: 12.5%;
  margin-left: 12.5%;
}
