<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel ="stylesheet" href="style_dir/home.css">
  </head>
  <body>
    <h1>Welcome to the Super Smash Brothers Character Generator!</h1>
    <form action = "/prefs">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Change your preferences!</button>
    </form>
    <button id="demo-menu-lower-left"
        class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>



    <!-- <form action = "/prefs">
        <button>Change your preferences!</button>
    </form> -->

    <!-- <form action = "/prefs">
        <button>Change your preferences!</button>
    </form> -->

    <!-- <form action = "/prefs">
        <button>Change your preferences!</button>
    </form> -->
  </body>
</html>
