<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Leaderboard</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_green-pink.min.css" />
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../style_dir/leaderboard.css">
</head>
<body>
  <!-- A working menu -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Leaderboard</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">

        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title"> Menu</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/home">Home</a>
        <a class="mdl-navigation__link" href="/abt">About</a>
        <a class="mdl-navigation__link" href="/leaderboard">Leaderboard</a>
        <a class="mdl-navigation__link" href="/prefs"><b>Character Generator</b></a>
        <a class="mdl-navigation__link" href="/profile">Your Profile</a>
        <a class="mdl-navigation__link" href="/">Log Out</a>
      </nav>
    </div>

    {% for character in characters %}
      <div id='' class="characters">
        <img id="charimage" src="{{character.image_url}}">
        <p class="chartext" id="charline1"><b>{{character.name}}</b></p>
        <p class="chartext" id="charline2">Wiki Link: <a href='{{character.wiki_link}}'>{{character.wiki_link}}</a></p>
        <p class="chartext" id="charline1">Votes: {{character.votes}}</p><br>
      </div>
    {% endfor %}

  </body>
  </html>
