<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style_dir/prefs.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <form method = "post">
      <h3>Choose your skill level:</h3>
      <select name="skill">
        <option value="beginner">Beginner</option>
        <option value="medium">Medium</option>
        <option value="expert">Expert</option>
      </select>
      <br>
      <h3>Choose your preference:</h3>
      <select name="pref">
        <option value="strength">Strength</option>
        <option value="speed">Speed</option>
      </select>
      <br>
      <h3>Choose your color:</h3>
      <select name="color">
        <option value="black">Black</option>
        <option value="pink">Pink</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="orange">Orange</option>
        <option value="red">Red</option>
      </select>
      <br>
      <button>Go!</button>
    </form>
    <div>
      <p>{{character}}</p>
    </div>
  </body>
</html>
